* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}

body {
  width: 95%;
  margin: 0 auto;
}

/* STOCK ITEMS */

.stock-items-container { 
}

div.item-widget-container {
  width: 33%;
  margin: 0.1666%;
  float: left;
  border: solid black 0.1em;
}

.item-widget {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

.item-widget-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img.item-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}

img.shopping-cart {
  width: 17%;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* SHOPPING CART */

section.shopping-cart-container {
  width: 20%;
  right: 8%;
  top: 0;
  position: fixed;
  height: 92%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid black;
  border-top: none;
}

/* BANNER */

section.banner-container {
  width: 100%;
  height: 400px;
}

section.banner-contents {
  width: 100%;
  height: 95%;
  border: 2px solid black;
  background-color: black;
  border-top: none;
  margin: 0 auto;
}

.banner-text {
  margin: 0;
  margin-left: 0.2em;
  padding: 0;
  color: white;
  display: block;
  font-size: 8em;
}

