* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}

body {
  width: 95%;
  margin: 0 auto;
}

.stock-items-container { 
}

div.item-widget-container {
  width: 32%;
  margin: 0.38% 0.28%;
  padding-bottom: 40%;
  float: left;
  border: solid black 0.1em;
}
