* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Bree Serif', serif;
}

body {
  width: 95%;
  margin: 0 auto;
}

/* STOCK ITEMS */

.stock-items-container { 
}

div.item-widget-container {
  width: 33%;
  margin: 0.1666%;
  float: left;
  border: solid black 0.1em;
}

.item-widget {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

.item-widget-contents {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img.item-image {
  width: 80%;
  display: block;
  margin: 0 auto;
}

img.shopping-cart {
  width: 17%;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* SHOPPING CART */

section.shopping-cart-container {
  width: 30%;
  right: 10%;
  top: 0;
  position: fixed;
  height: 25%;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.9);
}

.shopping-cart-point {
  position: relative;
  height: 0px;
  width: 0px;
  top: 30%;
  float: left;
  border-top: 50px solid rgba(128, 128, 128, 0.9);
  border-left: 0px solid rgba(128, 128, 128, 0.9;
  border-right: 20px solid rgba(128, 128, 128, 0);
}

#shopping-cart-point-right {
  border-right: 0px solid rgba(128, 128, 128, 0.9);
  border-left: 20px solid rgba(128, 128, 128, 0);
}



