<div class='item-widget'>
  <span class='.name'>    {{name}}</span>
  <span class='.category'>{{category}}</span>
  <span class='.price'   >£{{price}} </span>
  <span class='.quantity'>{{quantity}}</span>
</div>

