<div class='item-widget'>
  <div class='item-widget-contents'>
    <span class='.name'>    {{name}}</span>
    <span class='.category'>{{category}}</span>
    <span class='.price'   >£{{price}} </span>
    <span class='.quantity'>{{quantity}}</span>
    <img src='/images/waistcoat.jpg' alt='waistcoat'>
  </div>
</div>

