<section class='items-and-vouchers'>
  {{#items}}
    <div class='shopping-cart-items-container'>{{> shoppingCartPartial this}}</div>
  {{/items}}

  <section class='vouchers'> {{> vouchersPartial vouchersData }} </section>
</section>
<span class='total-price'>Subtotal: {{total_price}}</span>
<span class='total-after-discount'>Total: {{total_after_discount}}</span>

