<section class='vouchers-contents'>
  <ul>
    {{#this}}
      <li class='voucher' id='{{id}}'>
        {{description}} 
        <button class='add-voucher' value='{{id}}'>Add</button>
      </li>
    {{/this}}
  </ul>
</section>

