<section class='vouchers-contents'>
  <ul>
    {{#this}}
      <li class='voucher' id='{{id}}'>
        {{description}} 
        {{#if available?}} 
          <button class='add-voucher' value='{{id}}'>Add</button>
        {{/if}}
      </li>
    {{/this}}
  </ul>
</section>

