<!DOCTYPE html> 
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <script type="text/javascript" src="/scripts/jquery.js" >        </script>
    <script type="text/javascript" src="/scripts/handlebars.js">     </script> 
    <script type="text/javascript" src="/scripts/templateFetcher.js"></script>
    <script type="text/javascript" src="/scripts/orderHandler.js">   </script>
    <script type="text/javascript" src="/scripts/addToShoppingCart.js">   </script>

  </head>

  <body>
    <section class="stock-items-container">
    </section>

    <section class="shopping-cart-container">
    </section>
    
  </body>

</html>

