<!DOCTYPE html> 
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/normalize.css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

    <script type="text/javascript" src="/scripts/jquery.js" >        </script>
    <script type="text/javascript" src="/scripts/handlebars.js">     </script> 
    <script type="text/javascript" src="/scripts/templateFetcher.js"></script>
    <script type="text/javascript" src="/scripts/stockItemsRenderer.js">   </script>
    <script type="text/javascript" src="/scripts/addToAndRemoveFromShoppingCart.js">   </script>
    <script type="text/javascript" src="/scripts/addAndRemoveVouchers.js"></script>

  </head>

  <body>
    <section class="banner-container">
      <section class="banner-contents">
        <p class='banner-text'>Nutmeg</p><p class='banner-text'>Clothing</p>
      </section>
    </section>
    
    <section class="stock-items-container">
    </section>

    <img src='/images/shopping_cart.jpg' class='shopping-cart-image' alt='shopping cart'>

    <section class="shopping-cart-container">
    </section>
    
  </body>

</html>

